---
import '../styles/global.css'

const pageTitle = 'About Me'

const identity = {
  firstName: 'Soyoung',
  country: 'Korea',
  occupation: 'Front-End Developer',
  hobbies: ['카페에서 노트북하기', '러닝'],
}

const skills = ['HTML', 'CSS', 'JavaScript']
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1></h1>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <p>Here are a few facts about me:</p>

    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country}</li>
      <li>My hobbies are: {identity.hobbies.join(', ')}</li>
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</html>
